<div class="grid isBound no-pad">
	<div class="span-1-1 Xpad top-space">
		<h2 class="orange">
			Contact Us
		</h2>
	</div>
	<div class="span-1-1">
		<p class="large italic">
			Our goal is to make your GroupFood.com experience as seamless as possible. Here's how to get a hold of us.
		</p>		
	</div>
	<label class="span-1-2 l">
		<input class="input-full-width pad grey-border" type="text" ng-model="data.fname" name="fname" placeholder="First Name" required>
	</label>
	<label class="span-1-2 l">
		<input class="input-full-width pad grey-border" type="text" ng-model="data.lname" name="lname" placeholder="Last Name" required>
	</label>
	<label class="span-1-1 l">
		<input class="input-full-width pad grey-border" type="email" ng-model="data.lname" name="lname" placeholder="Email Address" required>
	</label>
	<label class="span-1-1 l">
		<textarea class="input-textarea input-full-width pad grey-border" type="email" ng-model="data.lname" name="lname" placeholder="Message" required></textarea>
	</label>
	<label class="span-1-1 l">
		<submit class="btn box-line orange-border no-margin pad orange">Submit</submit>
	</label>
</div>